
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReduceNow</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container home-container">
        <div class="logo-container">
            <img src="../static/image/logo.png" alt="ReduceNow Logo" class="logo">
            <p class="typography">Research Based Emission-Reducer Recommender</p>
            <a href="{{ url_for('start') }}">
                <button class="startbutton">Start</button>
            </a>
        </div>
    </div>
 
</body>
</html>
